<thead>
	<tr>
		{{#each columns}}
		<td>{{ label }}</td>
		{{/each}}
	</tr>
</thead>
<tbody>
	{{#each records}}
	<tr>
		{{#each columns}}
		<td>{{render_column_cell ../ this.name}}</td>
		{{/each}}
	</tr>
	{{/each}}
</tbody>